{% extends "index.html" %}
{% load static %}
{% block content %}
<form class="search-form">
	<input type="text" placeholder="Keyword" class="search-input" id="id_username" autofocus>
	<button type="reset">X</button>
</form>
<div class="centered">		
	<div class="recycler">
		{% for serveur in serveurs %}
		<a href="{% url 'commande_serveur' id_table serveur.id %}">
		<div class="user-card">
			<div class="img-user">
				<img src='{% if serveur.avatar %}
					{{ serveur.avatar.url }}
				{% else %}
					{% static "img/ic_user.png" %}
				{% endif %}' alt="">
			</div>
			<div class="username">
				<div><h3>{{ serveur.tel }}</h3></div>
				<div>
					{{ serveur.firstname }} {{ serveur.lastname }}
				</div>
			</div>
		</div>
		</a>
		{% empty %}
			<h3>Il y'a pas de serveurs</h3>
		{% endfor %}
	</div>
</div>
<script src="{% static 'js/base.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	search('search-form', 'user-card');
</script>
{% endblock content %}