{% extends "index.html" %}
{% load static %}
{% block content %}

<ul class="floating-menu floating-left-top">
	<li><a href="#" id="toggle-panier">panier</a></li>
</ul>

<form class="search-form">
	<input type="text" placeholder="Keyword" class="search-input" id="id_username">
	<button type="reset">X</button>
</form>
<div class="centered">
	<div class="recycler">
		{% for recette in recettes %}
		<div class="basic-card bg-blue recette" data-id={{ recette.id }}>
			<div class="img food-img">
				<img src="
				{% if recette.image %}
					{{ recette.image.url }}
				{% else %}
					{% static 'img/ic_user.png' %}
				{% endif %} 
				"/>
			</div>
			<div class="subtitle">
				<span class="name">{{ recette.nom }}</span>
				<span class="prix">{{ recette.prix }}</span>
				Fbu
			</div>
			<div class="buttons">
				<button class="left-button bg-blue recette_moins">-</button>
				<label class="noir-blanc recette_qtt">0</label>
				<button class="right-button bg-blue recette_plus">+</button>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div id="panier" class="popup">
	<div class="popup-body">
		<table class="table">
			<caption class="header-panier">Panier</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>price</th>
					<th>quantity</th>
					<th>total</th>
				</tr>
			</thead>
			<tbody class=".popup-content">
			</tbody>
			<tfoot>
				<tr>
					<td>total</td>
					<td></td>
					<td></td>
					<td id="total"></td>
				</tr>
			</tfoot>
		</table>
		<div class="btns-valider">
			<button style="margin-right:3px" id="valider-panier">valider</button>
			<button id="valider_imprimer">valider et imprimer</button>
		</div>
	</div>
</div>
<script src="{% static 'js/jquery.cookie.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/panier.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/base.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	search('search-form', 'basic-card');
</script>
{% endblock content %}