{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cool Restaurant</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <script src="{% static "js/jquery.min.js" %}" crossorigin="anonymous"></script>
</head>
<body>
<div id="modal-form">
	<table class="table">
		<caption class="header-panier">Détail de la commande</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>price</th>
				<th>quantity</th>
				<th style="text-align:right">total</th>
			</tr>
		</thead>
		<tbody class=".popup-content" id="object_facture">
		{% for detail in details %}
			<tr class="panier-item" data-id="{{ detail.id }}">
			<td class="panier-name">{{ detail.recette.nom }}</td>
			<td class="panier-prix">{{ detail.recette.prix }}</td>
			<td class="panier-quantite">x {{ detail.quantite }}</td>
			<td class="panier-total" style="text-align:right">{{ detail.somme }}</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td>total</td>
				<td></td>
				<td></td>
				<td id="total" style="text-align:right">{{ commande.a_payer }}</td>
			</tr>
		</tfoot>
	</table>
		<div class="btns">
			<form action="{% url 'details' id_commande %}" method="post" >
				{% csrf_token %}
		    	<input type="submit" name="delete" value="delete" class="btn right">
			</form>
			<button onclick="imprimerFacture()">imprimer</button>
		</div>
</div>
{% block printable_facture %}
<div id="printable" style="display:none;background:white">
<table style="width:280px;">
	<thead>
		<tr>
			<th>
				<img src="{% static "img/fidodido.png" %}">
			</th>
		</tr>
	</thead>
	<tbody id="printable-body">
	</tbody>
</table>
</div>
{% endblock printable_facture %}
<script src="{% static 'js/print_details.js' %}" type="text/javascript" charset="utf-8" async defer></script>
<script type="text/javascript">
function imprimerFacture(){
	printDiv("{{ commande.id }}", "{{ commande.date }}",
		"{{ commande.serveur }}", "{{ commande.table }}",
		"{{ commande.a_payer }}", "{{ user }}",
		$("#object_facture").html());
}
</script>
</body>
</html>