{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cool Restaurant</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <script src="{% static "js/jquery.min.js" %}" crossorigin="anonymous"></script>
</head>
<body>

<ul class="top-menu"> <!--floating-right-center">-->
	<li class="toggle-submenu">
		<a href="/">Tables</a>
		<div class="submenu">
		   <a target="blank" href="/admin/resto/table">Gestion</a>
		</div>
	</li>
	<li><a href="{% url 'commandes' %}">Commandes</a></li>
	<li class="toggle-submenu">
		<a href="{% url 'stock' %}">Stock</a>
		<div class="submenu">
		   <a target="blank" href="/admin/resto/produit">Produit</a>
		   <a target="blank" href="/admin/resto/offre">Offre</a>
		   <a target="blank" href="/admin/resto/fournisseur">Fournisseur</a>
		</div>
	</li>
	<li class="toggle-submenu">
		<a href="{% url 'menus' %}">Menu</a>
		<div class="submenu">
		   <a target="blank" href="/admin/resto/recette">Gestion</a>
		</div>
	</li>
	<li class="toggle-submenu">
		<a href="{% url 'personnel' %}">Personnel</a>
		<div class="submenu">
		   <a target="blank" href="/admin/resto/personnel">Gestion</a>
		</div>
	</li>
</ul>
{% block content %}
<div class="content">
	<div class="centered">
		<H1 style="">WELCOME HOME</H1>
		<div class="recycler">
			{% for table in tables %}
			<div class="basic-card bg-blue">
				<div class="title">Table{{ table.number }}</div>
				<div class="buttons">
					<a href="{% url 'commande_table' table.id %}" class="semi-button">+Commande</a>
					<a href class="semi-button border-left">Payer</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
<script src="{% static "js/base.js" %}" crossorigin="anonymous"></script>
</body>
</html>