{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cool Restaurant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <script src="{% static "js/jquery.min.js" %}" crossorigin="anonymous"></script>
</head>
<body>
<div id="body">
<ul class="top-menu"> <!--floating-right-center">-->
	<li class="toggle-submenu">
		<a href="/">Tables</a>
	</li>
	<li><a href="{% url 'commandes' %}">Commandes</a></li>
	<li class="toggle-submenu">
		<a href="{% url 'stock' %}">Stock</a>
	</li>
	{% if user.is_staff %}
	<li class="toggle-submenu">
		<a href="#">Courbes</a>
		<div class="submenu">
			<a href="{% url 'menus' %}">Menu</a>
			<a href="{% url 'serveurs' %}">Serveurs</a>
		</div>
	</li>
	<li class="toggle-submenu">
		<a href="#">Gestion</a>
		<div class="submenu">
		   <a target="blank" href="/admin/resto/table">Tables</a>
		   <a target="blank" href="/admin/resto/recette">Stock</a>
		   <a target="blank" href="/admin/resto/produit">Produit</a>
		   <a target="blank" href="/admin/resto/offre">Offre</a>
		   <a target="blank" href="/admin/resto/fournisseur">Fournisseur</a>
		   <a target="blank" href="/admin/resto/serveur">Serveur</a>
		</div>
	</li>
	{% endif %}
</ul>
{% block content %}
<div class="content">
	<div class="centered">
		<div class="recycler">
			{% for table in tables %}
			<div class="basic-card bg-blue">
				<div class="title">Table{{ table.number }}</div>
				<div class="buttons">
					<a href="{% url 'commande_table' table.id %}" class="semi-button">+Commande</a>
					<a href class="semi-button border-left">Payer</a>
				</div>
			</div>
			{% empty %}
				<h3>Il y'a pas de tables</h3>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
</div>
<ul class="floating-menu floating-right floating-top">
	<li><a href="{% url 'logout' %}">logout</a></li>
</ul>
{% block printable_facture %}
<div id="printable" style="display:none;background:white">
<table style="width:280px;">
	<thead>
		<tr>
			<th>
				<img src="{% static "img/fidodido.png" %}" width="280px">
			</th>
		</tr>
	</thead>
	<tbody id="printable-body">
	</tbody>
</table>
</div>
{% endblock printable_facture %}
<script src="{% static "js/base.js" %}" crossorigin="anonymous"></script>
</body>
</html>