{% extends "index.html" %}
{% load static %}
{% block content %}
<H3 class="title">PERSONNELS CHARTS</H3>
<div class="centered">
</div>
<div class="chart-parent">
	<canvas id="chartServeurs" width="400" height="400"></canvas>
</div>
<script src="{% static "js/Chart.min.js" %}" crossorigin="anonymous"></script>
<script src="{% static "js/chart_functions.js" %}"></script>
<script type="text/javascript">
	plotBar('chartServeurs', '/api/chart_perso/service/', 'nombre servi');
</script>
{% endblock content %}