{% extends "index.html" %}
{% load static %}
{% block content %}

<form class="search-form">
	<input type="text" placeholder="Keyword" class="search-input" id="id_username">
	<button type="reset">X</button>
</form>
<div class="centered">
	<div class="recycler">
		{% for produit in produits %}
		<div class="basic-card bg-blue produit-item" data-id="{{ produit.id }}">
			<div class="subtitle">
				{{ produit.nom }} {{ produit.quantite }}{{produit.unite }}
			</div>
			<div class="buttons">
				<a href="{% url 'stock_out' produit.id %}"  class="semi-button url_button">- Sortie</a>
				<a href="{% url 'stock_in' produit.id %}" class="semi-button border-left url_button">+ Entrée</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div id="popup-form" class="popup">
	<div class="popup-body">
		<div id="form-content"></div>
	</div>
</div>
<script src="{% static 'js/base.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	search('search-form', 'basic-card');
</script>
{% endblock content %}